<div class="panel panel-default">
    <div class="panel-heading">
        <h1>
            Meetings
        </h1>

        <div class="input-group">
            {{input class="form-control" type="text" id="create-meeting" placeholder="meeting name" value=newTitle action="createMeeting"}}
            <span class="input-group-btn">
                <button class="btn btn-success" type="button">Create</button>
            </span>
        </div>
    </div>
    <table class="table">
        <tr>
            <th></th>
            <th>Title</th>
            <th>Duration</th>
            <th>Attendees</th>
        </tr>
        {{#each meeting in model itemController="meeting"}}
            <tr>
                {{#if meeting.isEditing}}
                    <td>
                        <button type="button" class="btn btn-sm btn-success" {{action "save" on="click"}}>
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        <button type="button" class="btn btn-sm btn-danger" {{action "cancelEdit" on="click"}}>
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                    <td>
                        {{input class="form-control" type="text" id="edit-title" value=meeting.title}}
                    </td>
                    <td>
                        {{input class="form-control" type="text" id="edit-duration" value=meeting.duration}}
                    </td>
                    <td>
                        <ul>
                            {{#each attendee in meeting.attendees}}
                                <li>
                                    {{attendee.person.name}}
                                </li>
                            {{/each}}
                        </ul>
                    </td>
                {{else}}
                    <td>
                        <button type="button" class="btn btn-sm btn-warning" {{action "editMeeting" on="click"}}>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </td>
                    <td>{{meeting.title}}</td>
                    <td>{{meeting.duration}}</td>
                    <td>
                        <ul>
                            {{#each attendee in meeting.attendees}}
                                <li>{{attendee.person.name}}</li>
                            {{/each}}
                        </ul>
                    </td>
                {{/if}}
            </tr>
        {{/each}}
    </table>
</div>